/* Fontlar */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200&display=swap'); /* 'Lexend Deca', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap'); /* 'Concert One', cursive; */

body{
    background-image: url('https://image.freepik.com/free-vector/elegant-white-wallpaper-with-golden-details_23-2149095007.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
}
*{
    box-sizing: border-box;
}
::-webkit-scrollbar{
    background: white;
    width: 5px;
}
::-webkit-scrollbar-thumb{
    border-radius: 50px;
    background: #e8e2e1;
}

/* Background */
.bg{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #222;
    z-index: -1;
    opacity: .2;
}

/* ** */
.flex-box{
    display: flex;
    
}
.menu{
    margin: 25px;
}
.menu .box{
    padding: 15px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 1px 90px 0px rgba(0, 0, 0, .2);
    border-radius: 7px;
    width: fit-content;
}
.menu .box h1{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: bolder;
    text-align: center;
}
.menu .box hr{
    border: none;
    height: 1px;
    background: #e8e2e1;
    width: 100%;
    opacity: .3;
    margin-bottom: 15px;
}
.menu .box a{
    text-decoration: none;
    font-size: x-large;
    padding: 5px;
    transition: 250ms all;
    border-radius: 5px;
    display: block;
    margin-top: 5px;
}
.menu .box a:hover{
    background-color:rgba(0, 0, 0, .1);
    
}
.text-box{
    margin: 25px;
    padding: 15px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 1px 90px 0px rgba(0, 0, 0, .2);
    border-radius: 7px;
    overflow-y: scroll;
    height: 232.88px;
}
.text-box h1{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: bolder;
}
.text-box p{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: bolder;
}
.text-box > hr{
    border: none;
    height: 1px;
    background: #e8e2e1;
    width: 100%;
    opacity: .3;
}

#button1{
    font-family: 'Lexend Deca', sans-serif;
}